.textareaBox {
    width: 100%;
    
    textarea {
        width: 100%;
        resize: none;
        margin-top: 9.6px;
        width: 100%;
        font-family: var(--font-primary);
        font-size: 1.125rem;
        font-weight: 400;
        color: var(--color-black);
        padding: 20px;
        height: 10.5rem;
        background: var(--color-white);
       

        &:disabled{
            opacity: .5;
        }
    }

    p{
        margin-top: .5rem;
        color: red;
    }
}
