.footer{
    padding: 1.5rem 0;
    background: var(--color-pink);

    .flexBox{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
    }
}